<%- include('head') %> <!-- vista que me abre todo el cascarón -->
<!-- CSS Propio-->
<link rel="stylesheet" href="/stylesheets/editFormDIsh/editFormDish.css">
<title>Formulario edición plato</title>
<%- include('navbar') %> 

  <main class="container-fluid">
    <section class="section1 row justify-content-center">
      <div class="cuadro d-flex flex-column align-items-center gap-5">
          <img src="/images/assets/logo-user.png" alt="logo user">
          <form 
            class="d-flex flex-column gap-4"
            action="/dish/editDish/<%= result[0].dish_id %>" 
            method="post" 
            enctype="multipart/form-data">
            <input 
              type="text"
              name="dish_name"
              placeholder="nombre del plato"
              value="<%= result[0].dish_name %>"
            >
            <input 
              type="text"
              name="dish_description"
              placeholder="Descripción del plato"
              value="<%= result[0].dish_description %>"
            >
            <label class="text-center" for="file">Subir</label>
            <input 
              id="file"
              type="file"
              name="img"
              hidden
            >
            <h5><%= typeof message != 'undefined'? message : null %></h5>
            <div class="d-flex justify-content-between">
              <button class="btn btn-primary">Aceptar</button>
              <a href="/restaurant/twoRestaurant/<%= result[0].restaurant_id %>"><button class="btn btn-primary" type="button">Cancelar</button></a>
              <button class="btn btn-primary" type="reset">Limpiar</button>
            </div>
          </form>
        </div>
    </section>
  </main>

<%- include('footer') %>